In [5]:
# STEP 1. 리스트 처리 함수 (기초 + comprehension)
# 과제 1
# 점수 리스트를 받아 70점 이상이면 '합격', 그렇지 않으면 '불합격'으로 분류된 문자열 리스트를 반환하세요.

# 입력 예시: [85, 67, 90, 45]
# 출력: ['합격', '불합격', '합격', '불합격']

def classify_scores(scores):
    return ['합격' if s >= 70 else '불합격' for s in scores]

print(classify_scores([85, 67, 90, 45]))

['합격', '불합격', '합격', '불합격']

In [7]:
# 과제 2
# 이름 리스트를 받아 각 이름에 순번을 붙인 리스트를 반환하세요 (enumerate() 사용).

# 출력 예시: ['1. 홍길동', '2. 김유신', ...]

def numbered_names(names):
    return [f'{i}. {name}' for i, name in enumerate(names, 1)]

print(numbered_names(['홍길동', '김유신', '강감찬', '계백']))

['1. 홍길동', '2. 김유신', '3. 강감찬', '4. 계백']

In [2]:
# STEP 2. 튜플 & zip() 처리 함수
# 과제 3
# 이름, 점수 두 리스트를 받아 "홍길동: 85점"과 같은 문자열 리스트를 반환하세요 (zip() 사용).

def combine_name_score(names, scores):
    return [f'{name}: {score}점' for name, score in zip(names, scores)]

print(combine_name_score(['홍길동', '김유신', '강감찬', '계백'], [90, 75, 62, 10]))

['홍길동: 90점', '김유신: 75점', '강감찬: 62점', '계백: 10점']

In [7]:
# 과제 4
# (이름, 점수) 튜플 리스트에서 80점 이상인 사람만 필터링된 튜플 리스트를 반환하세요.

def filter_high_scores(data):
    # return [d for d in data if d[1] >= 80]
    return list(filter(lambda d: d[1] >= 80, data))

print(filter_high_scores([('홍길동', 90), ('김유신', 75), ('강감찬', 62), ('계백', 10)]))

[('홍길동', 90)]

In [ ]:
# STEP 3. 딕셔너리 생성/변환 함수
# 과제 5
# 이름 리스트와 점수 리스트를 받아 딕셔너리로 변환하는 함수 (zip() 사용):

# 입력: ["홍길동", "김유신"], [85, 90]
# 출력: {"홍길동": 85, "김유신": 90}

def to_score_dict(names, scores):

In [ ]:
# 과제 6
# 학생 점수 딕셔너리를 받아 합격자 이름만 리스트로 반환하세요 (cutoff 지정 가능).

def passed_students(score_dict, cutoff=70):

In [ ]:
# STEP 4. 분석 보고용 함수
# 과제 7
# 이름, 과목, 점수 리스트를 받아 "1. 홍길동 - 수학: 85점"과 같은 리스트를 반환하세요 (enumerate(), zip() 함께 사용)

def formatted_report(names, subjects, scores):